body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: auto;
  text-align: center;
}

.plateVisual {
  display: inline-block;
  border: 1px solid black;
  border-radius: 2px;
  margin: 10px 0;
  width: 25px;
}

#total-weight{
  margin-top: 50px;
}

/* Plate Selctor Visuals */
.plate-selector {
  border: 1px solid black;
  border-radius: 100%;
  background-color: white;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button,
input[type="number"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: textfield;
  margin: 0;
  cursor: default;


}

.plates-container {
  margin: 20px auto 50px;
}

.selector-outer,
.selector-inner,
.text-inner {
  position: relative;
}

.selector-outer {
  height: 50px;
  width: 50px;
  margin: 20px;
  display: inline-block;
}

.selector-inner {
  text-align: center;
  height: 20px;
  width: 20px;
  top: 15px;
  left: 20px;
  z-index: 2;
}

.text-inner {
  top: 15px;
}

#submit-button{
  height: 50px;
  width: 150px;
  margin: 5px auto 20px;
}

#weight-input{
  width: 142px;
  text-align: center;
  height: 25px;
}
